@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background: hsl(212, 45%, 89%);
}

/* Card Styling */

.card {
    width: 350px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;
}

.card img {
    height: 300px;
    width: 320px;
    border-radius: 10px;
    margin: auto;
    margin-top: 15px;
}

.card-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-data h2 {
    text-align: center;
    margin: 20px;
    width: 100;
}

.card-data p {
    text-align: center;
    margin: 20px;
    margin-left: 45px;
    margin-top: -10px;
    width: 260px;
    color: hsl(220, 15%, 55%);
}


/* Footer Styling */

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
}
        
.attribution a {
    color: hsl(228, 45%, 44%);
}